body {
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
}

.nav-item .nav-link {
  text-transform: uppercase;
}

.logoDes {
  font-size: 13px;
}

.logoDes > span {
  font-size: 30px;
  font-weight: bold;
}

.carousel-item {
  position: relative;
}

.carousel-item img {
  height: 90vh;
  object-fit: cover;
}

.carousel-item p {
  display: none;
}

.carousel-item div {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px) saturate(180%);

  height: 50%;
  min-width: 320px;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  place-items: center;
  border-radius: 12px;
}

.carousel-item .carousel-caption h5 {
  opacity: 1;
}

.flexBox {
  display: flex;
  flex-wrap: wrap;
}

.flexBox img {
  height: 300px;
  max-width: 300px;
  object-fit: cover;
  flex: 1 1 100%;
  overflow: hidden;
  transition: transform 0.2s ease-in 0s;
}

#gallery img:hover {
  transform: scale(1.2);
}
