html {
  scroll-behavior: smooth;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.nav-item .nav-link {
  text-transform: uppercase;
}

.logoDes {
  font-size: 13px;
}

.logoDes > span {
  font-size: 30px;
  font-weight: bold;
}

.carousel-item {
  position: relative;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.carousel-item .carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-shadow: 0px 0px 15px rgba(150, 150, 150, 1);
}

.flexBox {
  display: flex;
  flex-wrap: wrap;
}

.flexBox img {
  height: 300px;
  max-width: 300px;
  object-fit: cover;
  flex: 1 1 100%;
  overflow: hidden;
  transition: transform 0.2s ease-in 0s;
}

#gallery img:hover {
  transform: scale(1.2);
}
